---
---

@import 'jekyll-theme-cayman';

.container {
    max-width: 1200px;  /* Set the global width to 1200px or any width you prefer */
    margin: 0 auto;     /* Center the container */
    padding: 0 20px;    /* Optional: adjust padding */
}

.header {
    border-bottom: 0.7px solid #E2E8F0;
    background-color: #222;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0.7rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #101010; */
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    position: relative;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    /* color: #63a87e; */
}

.nav-link:hover {
    color: #482ff7;
    font-weight: bold
}

.hamburger {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #222; /* Same as navbar background */
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.dropdown-menu .dropdown-link {
    color: #8acedb; /* Change to your desired color */
    font-size: 1.3rem;
    padding: 1rem;
    display: block;
    white-space: nowrap;
}

.dropdown-menu .dropdown-link:hover {
    background-color: #333; /* Slightly lighter on hover */
}

.nav-item:hover .dropdown-menu {
    display: block;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 1rem;
        flex-direction: column;
        /* background-color: #fff; */
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(1px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-1px) rotate(-45deg);
    }
    
    .dropdown-menu {
        position: static;
        display: none;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    .nav-item.active .dropdown-menu {
        display: block;
    }

    .dropdown-link {
        padding: 1rem 0;
        font-size: 2rem;
    }

}

.columns {
  display: flex;
  justify-content: space-between;
}

.columns .column {
  flex: 1;
  padding: 0 5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #000000;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: white;
  font-size: 1.3rem;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 150px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}
